@media (max-width: 1024px) {
  header{
    display: none;
  }
  .hero {
    height: 800px;
    padding: 0 2rem;
  }

  .header {
    top: 2rem;
    left: 2rem;
  }

  .hero-inner {
    bottom: 20%;
  }

  .sub {
    font-size: 0.9rem;
  }

  .title {
    font-size: 7rem;
  }

  .hero-video {
    top: 68%;
    width: 60vw;
  }

  .hero-info {
    right: 2rem;
    bottom: 1.5rem;
    font-size: 0.9rem;
  }



   .philosophy {
    height: auto;
    padding: 0 2rem;
  }

  .philo-inner {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .philo-left {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 6rem;
  }

  .philo-title {
    font-size: 2.4rem;
    line-height: 1.2;
  }

  .philo-sub {
    font-size: 0.95rem;
    white-space: nowrap;
  }


  .philo-right {
    width: 100%;
    margin-top: 0;
    padding-left: 6rem;
    box-sizing: border-box;
  }

  .philo-en {
    width: 90%;
    max-width: 968px;
    font-size: 1.4rem;
    line-height: 1.6;
    color: #c8c8c8;
    margin-bottom: 6rem;
    text-align: left;
  }

  .philo-ko {
    width: 85%;
    max-width: 583px;
    font-size: 0.8rem;
    line-height: 1.8;
    color: #333;
    margin-bottom: .5rem;
    text-align: left;

    transform: translateX(2rem); 
  }

  .koko {
    margin-bottom: 2rem;
    transform: translateX(2rem); 
  }
  .about-inner {
    gap: 2rem;
  }

  .about-photo {
    width: 320px;
  }

  .about-title {
    font-size: 6rem;
    right: -40%;
  }

  .about-list {
    width: 430px;
  }

  .about-list li {
    grid-template-columns: 2.5rem 6rem 1fr 5rem;
  }
  .skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem 4rem;
}
.skills {
  padding: 3rem 2rem;
  background: #f5f5f5;
  font-family: "Satoshi", sans-serif;
  
}
.popup-section {
    padding: 3rem 2rem;
    background: #191917;
    color: #fff;
    font-family: "Pretendard", sans-serif;
}
 .popup-item {
    width: 320px;
  }

  .popup-card {
    width: 320px;
    height: 320px;
  }


  .popup-track {
    gap: 3rem;
  }


  .popup-item:nth-child(odd) {
    margin-top: -6rem;
  }

  .popup-item:nth-child(even) {
    margin-top: 6rem;
  }

  .popup-info h3 {
    font-size: 1.2rem;
  }

  .popup-info p {
    font-size: 0.9rem;
  }

.popup-section::before {
  content: "POPUPS";
  position: absolute;
  top: 85%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-size: 11rem;
}
    .poster-wrap {
    padding: 0 2rem 3rem 2rem;
    gap: 3rem;
  }

  .poster-left {
    gap: 5rem;
    flex: 0 0 50%;
  }

  .poster-text p {
    font-size: 0.75rem;
  }

  .poster-right {
    flex: 0 0 45%;
  }
  #banner-brand {
    font-size: 4rem;
    font-family: "Satoshi", sans-serif;
    font-weight: 800;
    color: #3d4a8a;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: block;
}
.banner-desc h4 {
    width: 60%;
    font-size: 1rem;
}
.banner-desc p {
    width: 60%;
    font-size: 0.8rem;
    color: #191917;
    line-height: 1.7;
}
.banner-section {
    width: 100%;
    background: #f4f4f4;
    padding: 3rem 2rem;
    box-sizing: border-box;
}
.posters {
    padding: 3rem 2rem;
}
.banner-num {
    font-size: 1rem;
    font-weight: 700;
    border-bottom: 4px solid #3d4a8a;
    padding-bottom: 0.2rem;
    color: #3d4a8a;
}
 .project-sticky-menu{
  display: flex;
  gap: 1rem;
  position: sticky;
  left: 0;
  top: 1rem;
  list-style: none;
  padding: 0 2rem;
  margin-bottom: 3rem;
 }
 .project-sticky-menu a{
  display: block;
  background-color: #000000cb;
  backdrop-filter: blur(10px);
  color: #fff;
  padding: .5rem 1.2rem;
  text-decoration: none;
  font-size: 0.8rem;  
 }
 .btn-menu{
  display: block;
  position: fixed;
  top: 1rem;
  left: calc(50% - 0.75rem);
  width: 1.5rem;
  aspect-ratio: 1/1;
  z-index: 500000;
  transition: all 0.6s ease 0s;
  filter: blur(0px);
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;

}
.btn-menu.fadeout{
  filter: blur(100px);
  opacity: 0;
  pointer-events: none;
}
.btn-menu img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header-smart{
  z-index: 100000;
  display: block;
  position: fixed;
  left: 0rem;
  right: 0rem;
  top:0rem;
  bottom: 0rem;
  background-color: #000000cb;
  backdrop-filter: blur(10px);
  color: #fff;
  list-style: none;
  text-decoration: none;
  align-items: center;
  font-family: "Satoshi", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  filter: blur(0);
  opacity: 1;
  pointer-events: auto;
}
.header-smart.fadeout{
  filter:blur(100px);
  opacity: 0;
  pointer-events: none;
}
.gnb-smart{
  list-style: none;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

}
.project h3 {
    padding: 0 2rem;
}
.project p {
    padding: 0 2rem;
}
.sub-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  padding-top: 3rem;
}
.sub-projects{
  padding: 3rem 2rem;
}
 .ty-inner h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 900px) {
  .about{
    padding: 0;
  }
.about {
    padding: 4rem 1rem;
    flex-direction: column;
    overflow: visible;
  }

  .about-inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3.5rem;
    width: 100%;
    margin: 0;
  }


  .about-photo {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    position: relative;
  }

  .about-photo img {
    width: 100%;
    margin-top: 3rem;
  }

  .about-title {
    position: absolute;
    top: -6%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4.8rem;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    z-index: 2;
  }


  .about-text {
    text-align: center;
    margin-top: 0.5rem;
  }

  .about-text p {
    max-width: 360px;
    margin: 0 auto;
    line-height: 1.65;
  }


  .profile-info {
    width: 100%;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }

  .profile-info div {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
  }

  .profile-info span {
    font-weight: 600;
    margin-right: 1rem;
    text-align: left;
  }

  .profile-info p {
    flex: 1;
    text-align: right;
  }


  .about-right {
    width: 100%;
    margin-top: 2rem;
  }

  .about-list {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
  }
  .about-title{
    text-align: left;
  }


  .about-list li{
    display: grid !important;
    grid-template-columns: 4rem 2fr 1fr !important;
    grid-template-rows: auto auto !important;
    column-gap: 1.2rem;
    row-gap: 0.4rem;

  
    justify-content: unset !important;
    align-items: unset !important;
    text-align: left !important;
  }

  .about-list .num{
    grid-column: 1 / 4 !important;
    grid-row: 1;
    font-size: 1.2rem;
  }
  .about-list .date{
    grid-column: 1 / 2 !important;
    grid-row: 2;
    font-size: .8rem;
  }
  .about-list .titles{
    grid-column: 2 / 3 !important;
    grid-row: 2;
    font-size: .8rem;
  }
  .about-list .org{
    grid-column: 3 / 4 !important;
    grid-row: 2;
    text-align:left !important;
    font-size: .8rem;
  }
  .about {
  padding: 6rem 2rem !important;

}
.popup-prev,
.popup-next {
  display: none !important;
}
}
