html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
.hero {
  height: 960px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #f5f5f5;
  overflow: hidden;
  padding: 0 3rem;
}


.header {
  position: absolute;
  top: 2rem;
  left: 3rem;
  z-index: 5;
}

.logo {
  width: 2rem;
  height: auto;
}


.hero-inner {
  position: relative;   
  z-index: 3;
  bottom: 25%;          
}

.sub {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: .5rem;
}

.title {
  font-family: "Playfair Display", serif;
  font-size: 8rem;
  line-height: 1.05;
  font-weight: 800;
  color: #000;         
}


.hero-video {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55vw;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;

 
  filter: blur(25px);
  opacity: 0.3;
  transition: filter 2s ease, opacity 2s ease;
}


.hero-info {
  position: absolute;
  right: 3rem;
  bottom: 2rem;
  text-align: right;
  font-size: 1rem;
  font-weight: 600;
  color: #111;
  z-index: 4;         
}
.title span span {
  display: inline-block;
}





.philosophy {
  height: 960px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 0 3rem;
  box-sizing: border-box;
  font-family: 'Satoshi' !important;
  font-weight: 500;
}
.philo-left{
  display: flex;
  justify-content: space-between;
  align-items: flex-end; 
  flex-wrap: wrap;     
  margin-bottom: 6rem;
  margin-top: 3rem;
}

.philo-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.philo-title {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.1;
  color: #000;
}

.philo-sub {
  font-size: 1rem;
  font-weight: 600;
  color: #111;
}

.philo-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  
}

.philo-en {
  width: 968px;
  font-size: 2rem;
  line-height: 1.2;
  color: #C8C8C8;
   margin-left: auto;    
  margin-bottom: 6rem; 
  
}

.philo-ko {
  font-size: 0.8rem;
  line-height: 1.2;
  color: #333;
  word-break: keep-all;
  font-weight: 400;
  width: 500px;
     margin-left: auto;     
  margin-right: 12rem; 
  margin-bottom: 1rem;
}
.koko{
  margin-bottom: 4rem;
}
.bbyong {
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  will-change: opacity, transform;
}

.bbyong.show {
  opacity: 1;
  transform: translateY(0);
}
.bbyong-right {
  opacity: 0;
  transform: translateX(80px); 
  transition: all 0.8s ease-out;
  will-change: opacity, transform;
}

.bbyong-right.show {
  opacity: 1;
  transform: translateX(0); 
}
.bbyong-left {
  opacity: 0;
  transform: translateX(-80px); 
  transition: all 0.8s ease-out;
  will-change: opacity, transform;
}

.bbyong-left.show {
  opacity: 1;
  transform: translateX(0);
}
.fade-text {
  display: inline-block;
  color: #c8c8c8;
  line-height: 1.6;
  transition: color 0.3s ease;
}

.fade-text span {
  color: #c8c8c8;
  transition: color 0.3s linear;
  will-change: color;
}
.about {
  background: #191917;
  padding: 6rem 3rem;
  font-family: "Pretendard", sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
}

.about-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 6rem;
}



.about-left {
  display: flex;
  flex-direction: column;
  max-width: 550px;
}

.about-photo {
  position: relative;
  width: 430px;
}

.about-photo img {
  width: 100%;
  display: block;
}

.about-title {
  position: absolute;
  top: 50%;
  right: -80%;
  transform: translateY(-50%);
  font-family: "Playfair Display", serif;
  font-size: 9rem;
  line-height: 1;
  font-weight: 500;
  color: #ffffff;
  white-space: nowrap;
  text-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.about-text h3 {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.about-text p {
  font-size: 0.8rem;
  line-height: 1.7;
  color: #bbbbbb;
}




.about-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 800px;
}

.about-list li {
  display: grid;
  grid-template-columns: 3rem 5rem 1fr 6.5rem;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255,255,255,0.15);
}

.num {
  font-family: "Satoshi", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
}

.date {
  font-family: "Satoshi", sans-serif;
  font-size: 0.8rem;
  color: #aaaaaa;
}


.org {
  font-size: 0.8rem;
  color: #bcbcbc;
}
.titles{
  font-family: "Pretendard", sans-serif;
  font-size: 0.8rem;
}
.about-title.fade span {
  display: inline-block;
  opacity: 0;
  transition: 0.1s ease;
}
.about-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.profile-info {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
  margin: 1rem auto 0;
}

.profile-info div {
  display: flex;
  gap: 1.5rem;
  font-size: 0.85rem;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;  
}

.profile-info span {
  width: 5.5rem;    
  font-weight: 600;
  color: #d0d0d0;
  flex-shrink: 0;    
}

.profile-info p {
  color: #fff;
  flex: 1;           
  line-height: 1.5;
}

.skills {
  padding: 3rem 3rem;
  background: #f5f5f5;
  font-family: "Satoshi", sans-serif;
  
}

.skills-header {
  display: flex;
  flex-direction: column;
}

.skills-title {
  font-family: "Satoshi", sans-serif !important;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}

.skills-sub {
  font-size: 0.8rem;
  color: #111;
  font-weight: 400;
  margin-top: 0.8rem;
  line-height: 1.4;
}


.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem 4rem;
  padding-top: 3rem;
}


.skill-card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.skill-card .num {
  font-family: "Satoshi", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  color: #111;            
  display: block;
  opacity: 1 !important;  
  z-index: 5;           
}

.skill-card h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;


  padding-bottom: 0.8rem;
  border-bottom: 1px solid #00000020;
}

.skill-card .desc {
  font-size: 1rem;
  font-family: "Pretendard";
  line-height: 1.6;
  color: #111;
  font-weight: 200;

  
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}
.swiper {
  width: 500px;
  padding-top: 50px;
  padding-bottom: 50px;
}


.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 600px !important;
  height: auto;
  overflow: visible;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform .35s ease;
}


.swiper-slide-active .popup-img img {
  transform: scale(1.03);
}


.popup-text {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(10px);
  margin-top: 1rem;
  transition: .35s ease;
}


.swiper-slide-active .popup-text {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}


.swiper-slide:not(.swiper-slide-active) .popup-text {
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
}


.popup-text > h3 {
  font-family: "Satoshi","Pretendard";
  font-weight: 600;
  font-size: 1.2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 1px solid #ffffff20;
}

.popup-text > p {
  font-weight: 300;
  font-size: .8rem;
  padding-top: 1rem;
  line-height: 1.4;
}


.popup-img {
  position: relative;
  overflow: hidden;
}

.popup-img::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.3);
  transition: 0.3s ease;
  pointer-events: none;
}

.swiper-slide-active .popup-img::after {
  background: rgba(0,0,0,0);
}

.popuphead {
  padding: 3rem;
  background-color: #191917;
  color: #fff;
}

.popuphead > p {
  color: #fff;
}

.mySwiper {
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 3rem;
  overflow: visible !important;
}

.popup-mask {
  padding: 3rem 3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}


.popup-mask .mySwiper {
  margin: 0 auto;
  display: block;
  overflow: visible;
}


.popup-prev,
.popup-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 50;
  transition: 0.25s ease;
}

.popup-prev { left: 0; }
.popup-next { right: 0; }

.popup-prev::after,
.popup-next::after {
  font-family: "swiper-icons";
  font-size: 20px;
  color: #fff;
}

.popup-prev::after { content: "prev"; }
.popup-next::after { content: "next"; }


.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  display: none !important;
}
