html, body {
overflow-x: clip; 
max-width: 1920px;
margin: 0 auto;
}
.hero {
  height: 960px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #f5f5f5;
  overflow: hidden;
  padding: 0 3rem;
}
a {
  text-decoration: none;
  color: inherit;
}

header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 500000;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.6s ease 0s;
}
header.fadeout{
  filter: blur(100px);
  opacity: 0;
  pointer-events: none;
}
header .common-frame{
  padding: 1rem 3rem;
}
.btn-menu{
  display: none;
}
.header-smart{
  display: none;
}
.gnb{
  display: inline-flex;
  gap: 2rem ;
  font-size: 0.7rem;
  font-weight: 500;
  background-color: #000000cb;
  backdrop-filter: blur(10px);
  color: #fff;
  list-style: none;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: 100px;
  align-items: center;
  font-family: "Satoshi", sans-serif;
}
.sjlogo{
  width: 0.8rem;
  color: #fff;
  filter: invert(1) brightness(2);
}
.logo {
  width: 1.2rem;
  height: auto;
}


.hero-inner {
  position: relative;   
  z-index: 3;
  bottom: 25%;          
}

.sub {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 4rem;

}

.title {
  font-family: "Playfair Display", serif;
  font-size: 8rem;
  line-height: 1.05;
  font-weight: 800;
  color: #000;         
}


.hero-video {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55vw;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;

 
  filter: blur(25px);
  opacity: 0.3;
  transition: filter 2s ease, opacity 2s ease;
}


.hero-info {
  position: absolute;
  right: 3rem;
  bottom: 2rem;
  text-align: right;
  font-size: 1rem;
  font-weight: 600;
  color: #111;
  z-index: 4;         
}
.title span span {
  display: inline-block;
}





.philosophy {
  height: 960px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 0 3rem;
  box-sizing: border-box;
  font-family: 'Satoshi' !important;
  font-weight: 500;
}
.philo-left{
  display: flex;
  justify-content: space-between;
  align-items: flex-end; 
  flex-wrap: wrap;     
  margin-bottom: 6rem;
  margin-top: 3rem;
}

.philo-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.philo-title {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.1;
  color: #000;
}

.philo-sub {
  font-size: 1rem;
  font-weight: 600;
  color: #111;
}

.philo-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
  
}

.philo-en {
  width: 968px;
  font-size: 2rem;
  line-height: 1.2;
  color: #C8C8C8;
   margin-left: auto;    
  margin-bottom: 6rem; 
  
}

.philo-ko {
  font-size: 0.8rem;
  line-height: 1.7;
  color: #333;
  word-break: keep-all;
  font-weight: 400;
  width: 500px;
     margin-left: auto;     
  margin-right: 12rem; 
  margin-bottom: 1rem;
}
.koko{
  margin-bottom: 4rem;
}
.kos{
  font-weight: 700;
}
.bbyong {
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  will-change: opacity, transform;
}

.bbyong.show {
  opacity: 1;
  transform: translateY(0);
}
.bbyong-right {
  opacity: 0;
  transform: translateX(80px); 
  transition: all 0.8s ease-out;
  will-change: opacity, transform;
}

.bbyong-right.show {
  opacity: 1;
  transform: translateX(0); 
}
.bbyong-left {
  opacity: 0;
  transform: translateX(-80px); 
  transition: all 0.8s ease-out;
  will-change: opacity, transform;
}

.bbyong-left.show {
  opacity: 1;
  transform: translateX(0);
}
.fade-text {
  display: inline-block;
  color: #c8c8c8;
  line-height: 1.6;
  transition: color 0.3s ease;
}

.fade-text span {
  color: #c8c8c8;
  transition: color 0.3s linear;
  will-change: color;
}
.about {
  background: #191917;
  padding: 6rem 3rem;
  font-family: "Pretendard", sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
}

.about-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 6rem;
}



.about-left {
  display: flex;
  flex-direction: column;
  max-width: 550px;
}

.about-photo {
  position: relative;
  width: 430px;
}

.about-photo img {
  width: 100%;
  display: block;
}

.about-title {
  position: absolute;
  top: 50%;
  right: -80%;
  transform: translateY(-50%);
  font-family: "Playfair Display", serif;
  font-size: 9rem;
  line-height: 1;
  font-weight: 500;
  color: #ffffff;
  white-space: nowrap;
  text-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.about-text h3 {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.about-text p {
  font-size: 0.8rem;
  line-height: 1.7;
  color: #bbbbbb;
}




.about-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 800px;
}

.about-list li {
  display: grid;
  grid-template-columns: 3rem 5rem 1fr 6.5rem;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255,255,255,0.15);
}

.num {
  font-family: "Satoshi", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
}

.date {
  font-family: "Satoshi", sans-serif;
  font-size: 0.8rem;
  color: #aaaaaa;
}


.org {
  font-size: 0.8rem;
  color: #bcbcbc;
}
.titles{
  font-family: "Pretendard", sans-serif;
  font-size: 0.8rem;
}
.about-title.fade span {
  display: inline-block;
  opacity: 0;
  transition: 0.1s ease;
}
.about-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.profile-info {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
  margin: 1rem auto 0;
}

.profile-info div {
  display: flex;
  gap: 1.5rem;
  font-size: 0.85rem;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;  
}

.profile-info span {
  width: 5.5rem;    
  font-weight: 600;
  color: #d0d0d0;
  flex-shrink: 0;    
}

.profile-info p {
  color: #fff;
  flex: 1;           
  line-height: 1.5;
}

.skills {
  padding: 3rem 3rem;
  background: #f5f5f5;
  font-family: "Satoshi", sans-serif;
  
}

.skills-header {
  display: flex;
  flex-direction: column;
}

.skills-title {
  font-family: "Satoshi", sans-serif !important;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.skills-sub {
  font-size: 0.8rem;
  color: #111;
  font-weight: 400;
  margin-top: 0.8rem;
  line-height: 1.7;
}


.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem 4rem;
  padding-top: 3rem;
}


.skill-card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.skill-card .num {
  font-family: "Satoshi", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  color: #111;            
  display: block;
  opacity: 1 !important;  
  z-index: 5;           
}

.skill-card h3 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;


  padding-bottom: 0.8rem;
  border-bottom: 1px solid #00000020;
}

.skill-card .desc {
  font-size: 0.8rem;
  font-family: "Pretendard";
  line-height: 1.6;
  color: #191917;
  font-weight: 300;

  
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}
.popup-section {
  padding: 3rem 3rem;
  background: #191917;
  color: #fff;
  font-family: "Pretendard", sans-serif;
  position: relative;
}

.popup-title {
  font-size: 4rem;
  font-weight: 800;
}

.popup-sub {
  margin-top: 1rem;
  font-size: 1.3rem;
  color: #bbbbbb;
  line-height: 1.6;
}
.popuphead>p{
  color: #fff;
}


.popup-track-wrapper {
  width: 100%;
  margin-top: 12rem; 
}

.popup-track {
  display: flex;
  gap: 4rem;
  animation: popup-slide linear infinite; 
}

@keyframes popup-slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(var(--slide-distance)); }
}


.popup-item:hover ~ .popup-track,
.popup-item:hover .popup-track {
  animation-play-state: paused !important;
}

.popup-item:hover {
  animation-play-state: paused;
}

.popup-track {
  display: flex;
  gap: 4rem;          
  animation: popup-slide 20s linear infinite;
}

.popup-track:hover {
  animation-play-state: paused;
}

.popup-item {
  width: 420px;
  flex-shrink: 0;
  position: relative;
}


.popup-item:nth-child(odd) {
  margin-top: -8rem;  
}

.popup-item:nth-child(even) {
  margin-top: 8rem;  
}


.popup-card {
  width: 420px;
  height: 420px;
  overflow: hidden;
}

.popup-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.popup-info {
  opacity: 0;
  transition: opacity .35s ease;
  margin-top: 1.6rem;
  color: #fff;
}

.popup-info h3 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
  border-bottom: 1px solid #ffffff20;
  font-family: "Satoshi", sans-serif;
  padding-bottom: 0.8rem;
}

.popup-info p {
  color: #ffffff;
  line-height: 1.7;
  font-size: 0.8rem;
  font-weight: 200;
}
.popup-card:hover + .popup-info {
  opacity: 1;
}


.popup-card:hover {
  transform: scale(1.03);
  transition: transform .3s ease;
}
.popup-section::before {
  content: "POPUPS";
  position: absolute;
  top: 80%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-size: 18rem;
  font-weight: 900;
  color: #31312E; 
  letter-spacing: -1rem;
  white-space: nowrap;
  pointer-events: none; 
  user-select: none;
  font-family: "Satoshi", sans-serif;
}


.poster-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding: 0 3rem 3rem 3rem;
  gap: 4rem;

  
}

.poster-left {
  display: flex;
  align-items: center;  
  gap: 8rem;
  flex: 0 0 45%;
}


.poster-number {
  font-size: 1.6rem;
  font-weight: 700;
  font-family: "Satoshi", sans-serif;
}


.poster-line {
    width: 5px;
    height: 40px;
    background: #191917;
}


.poster-text h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  font-family: "Satoshi", sans-serif;
}

.poster-text p {
  line-height: 1.65;
  color: #191917;
  font-size: 0.8rem;
  font-weight: 300;
}


.poster-right {
  flex: 0 0 40%;
  max-width: 650px;  
}

.poster-right img {
  width: 100%;
  height: auto;
  display: block;
}
.posters{
  padding: 3rem 3rem;
}
.posters>h2 {
  font-family: "Satoshi", sans-serif !important;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: -0.04em;
}

.posters>p {
    font-size: 0.8rem;
    color: #111;
    font-weight: 400;
    margin-top: 0.8rem;
    line-height: 1.7;
}
.poste{
  background-color: #f3f3f3;
  
}
.banner-section {
  width: 100%;
  background: #f4f4f4;
  padding: 3rem;
  box-sizing: border-box;
}

.banner-header h2 {
  font-family: "Satoshi", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -0.04em;
}

.banner-header p {
  font-size: 0.8rem;
  color: #555;
  margin-top: 0.5rem;
  line-height: 1.6;
}


.banner-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 3rem;
}

#banner-brand {
  font-size: 7rem;
  font-family: "Satoshi", sans-serif;
  font-weight: 800;
  color: #3d4a8a;
  margin: 0;
  padding: 0;
  line-height: 1;    
  display: block;
}

.banner-num {
  font-size: 2rem;
  font-weight: 700;
  border-bottom: 4px solid #3d4a8a;
  padding-bottom: 0.2rem;
  color: #3d4a8a;
}


.banner-img-wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;  
  margin-top: 1rem;
}




.banner-desc h4 {
  width: 40%;
  font-size: 1.2rem;
  color: #191917;
  font-weight: 600;
  padding-bottom: 0.8rem;
  margin-bottom: 0.8rem;
  border-bottom: 1px solid #19191720;
  font-family: "Satoshi", sans-serif;
}

.banner-desc p {
  width: 40%;
  font-size: 0.8rem;
  color: #191917;
  line-height: 1.7;
}
.banner-content {
  display: flex;
  flex-direction: column;  
  align-items: flex-end;   
  width: 100%;
}



.banner-desc {
  width: 90%;           
  text-align: left;        
  margin-top: 1rem;
}
.banner-img-wrap {
  width: 90%;
  margin: 1rem 0 0 auto;  
  display: block;         
}


.myBannerSwiper {
  width: 100%;
}


.myBannerSwiper .swiper-slide {
  width: 100%;
}

.myBannerSwiper .swiper-slide img {
  width: 100%;   
  height: auto; 
  display: block;
}
.banner-bg {
  background: #f4f4f4;
  
}
.myBannerSwiper .swiper-slide {
  width: 100% !important;
}
.project{
  margin-top: 3rem;
  
}
.project-frame {
  position: relative;
}
.project h3{
    font-family: "Satoshi", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.1;
    padding: 0 3rem;
      letter-spacing: -0.04;
  text-transform: uppercase;
    
}
.project p{
    font-size: 0.8rem;
    color: #555;
    margin-top: 0.8rem;
    line-height: 1.6;
    margin-bottom: 3rem;
    padding: 0 3rem;
  }
 .project-sticky-menu{
  display: flex;
  gap: 1rem;
  position: sticky;
  left: 0;
  top: 4.5rem;
  list-style: none;
  padding: 0 3rem;
  margin-bottom: 3rem;
 }
.project-sticky-menu a {
    display: block;
    background-color: #000000cb;
    backdrop-filter: blur(10px);
    color: #fff;
    padding: 0.5rem 1.3rem;
    font-size: 0.8rem;
    text-decoration: none;
    
}
 .project-sticky-menu a:hover{
  background-color: #454545;
 }
.project-img{
  width: 100%;
}
.project-img picture,
.project-img img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  margin-bottom: 3rem;
}
.sub-projects {
  padding: 3rem 3rem;
  background: #ffffff;
  font-family: "Satoshi", sans-serif;
}

.sub-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  padding-top: 3rem;
}
.detail-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  padding-top: 3rem;
}
.detailpage{
  background-color: #f5f5f5 ;
  margin-bottom: 0 !important;
}
.sub-card {
  display: flex;
  flex-direction: column;
}

.sub-num {
  font-size: 1rem;
  font-weight: 600;
  color: #111;
  display: block;
}

.sub-card h3 {
      font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid #00000020;
}

.sub-img {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 1.2rem;
}

.sub-img img {
  width: 100%;
  height: auto;
  display: block;
}

.sub-desc {
  font-size: 0.8rem;
  line-height: 1.6;
  color: #191917;
  font-family: "Pretendard";
  font-weight: 300;
}
.sub-projects{
  margin-bottom: 3rem;
}
.sub-card .sub-img img {
  transition: transform 0.3s ease;
}

.sub-card .sub-img:hover img {
  transform: scale(1.05);
}
.thankyou {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #000;
}

.ty-video {
  position: absolute;
  top: 50%;
  left: 50%;
min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  opacity: 0.25;
  pointer-events: none;
}

.ty-inner {
  position: relative;
  z-index: 3;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ty-inner h1 {
  font-family: "Satoshi", sans-serif;
  font-weight: 800;
  font-size: 4.5rem;
  line-height: 1.15;
  margin-bottom: 1.5rem;
}

.ty-sub {
  font-size: 0.9rem;
  opacity: 0.8;
  margin-bottom: 4rem;
  letter-spacing: -0.2px;
}

.ty-name {
  font-size: 0.85rem;
  opacity: 0.9;
  letter-spacing: 0.5px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
  z-index: 100000;
}

.modal-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 2rem;
  width: 30%;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  padding-top: 0;
}

.modal-body img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1rem;
}
.modal-content img {
  width: 100%;
  height: auto;
  display: block;
}

.close {
  color: #aaa;
  float: right;
  font-size: 2rem;
  cursor: pointer;
}

.close:hover {
  color: #000;
}
.modal-body{
  font-family: "Satoshi", sans-serif;
}

