@media (max-width: 768px) {
  .hero {
    height: 100vh;
    padding: 0 1rem;
  }

  .header {
    top: 1.5rem;
    left: 1rem;
  }

  .logo {
    width: 1.6rem;
  }

  .hero-inner {
    bottom: 18%;
  }

  .sub {
    font-size: 0.85rem;
    margin-bottom: 0.4rem;
  }

  .title {
    font-size: 4rem;
    line-height: 1.1;
  }

  .hero-video {
    top: 65%;
    width: 100vw;
  }

  .hero-info {
    right: 1rem;
    bottom: 1rem;
    font-size: 0.8rem;
  }
  .philosophy {
    padding: 0 1rem;
  }

  .philo-title {
    font-size: 2rem;
    line-height: 1.3;
  }

  .philo-sub {
    font-size: 0.9rem;
  }

  .philo-en {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 6rem;
  }

  .philo-ko {
    font-size: 0.7rem;
    line-height: 1.6;
  }
.about {
    padding: 4rem 1rem;
    flex-direction: column;
    overflow: visible;
  }

  .about-inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3.5rem;
    width: 100%;
  }


  .about-photo {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    position: relative;
  }

  .about-photo img {
    width: 100%;
    margin-top: 3rem;
  }


  .about-title {
    position: absolute;
    top: -6%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4.8rem;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    z-index: 2;
  }


  .about-text {
    text-align: center;
    margin-top: 0.5rem;
  }

  .about-text p {
    max-width: 360px;
    margin: 0 auto;
    line-height: 1.65;
  }


  .profile-info {
    width: 100%;
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }

  .profile-info div {
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
  }

  .profile-info span {
    font-weight: 600;
    margin-right: 1rem;
    text-align: left;
  }

  .profile-info p {
    flex: 1;
    text-align: right;
  }


  .about-right {
    width: 100%;
    margin-top: 2rem;
  }

  .about-list {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
  }

 
  .about-list li{
    display: grid !important;
    grid-template-columns: 4rem 2fr 1fr !important;
    grid-template-rows: auto auto !important;
    column-gap: 1.2rem;
    row-gap: 0.4rem;

 
    justify-content: unset !important;
    align-items: unset !important;
    text-align: left !important;
  }

  .about-list .num{
    grid-column: 1 / 4 !important;
    grid-row: 1;
    font-size: 1.2rem;
  }
  .about-list .date{
    grid-column: 1 / 2 !important;
    grid-row: 2;
    font-size: .8rem;
  }
  .about-list .titles{
    grid-column: 2 / 3 !important;
    grid-row: 2;
    font-size: 1rem;
  }
  .about-list .org{
    grid-column: 3 / 4 !important;
    grid-row: 2;
    text-align:left !important;
    font-size: .8rem;
  }
   .about-title{
    text-align: left;
  }
  .skills {
    padding: 3rem 1rem;
  }
  .popup-section {
    padding: 3rem 1rem;
    background: #191917;
    color: #fff;
    font-family: "Pretendard", sans-serif;
}

  .skills-grid {
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }

  .skill-card .desc {
    max-width: 100%;
  }
.skills-title {
    font-size: 2.2rem !important;
    display: block !important;
    position: relative !important;
    z-index: 99999 !important;
    transform: none !important;
    -webkit-transform: none !important;
  }
  .popup-item {
    width: 260px;
  }

  .popup-card {
    width: 260px;
    height: 260px;
  }


  .popup-track {
    gap: 2rem;
  }


  .popup-item:nth-child(odd) {
    margin-top: -4rem;
  }

  .popup-item:nth-child(even) {
    margin-top: 4rem;
  }

  .popup-info h3 {
    font-size: 1rem;
  }

  .popup-info p {
    font-size: 0.85rem;
  }
  .popup-section::before {
  content: "POPUPS";
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 9rem;
}

    .poster-wrap {
    flex-direction: column;
    padding: 0 1rem 3rem 1rem;
    height: auto !important;   
    gap: 2rem;
  }
.posters {
    padding: 3rem 1rem;
}
.posters>h2 {
    font-family: "Satoshi", sans-serif !important;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.1;
}
  .poster-left {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2rem;
    width: 100%;
  }


  .poster-line {
    display: none;
  }

  .poster-number {
    font-size: 1.4rem;
  }

  .poster-text h3 {
    font-size: 1.4rem;
  }

  .poster-text p {
    font-size: 0.75rem;
    line-height: 1.6;
  }



  .poster-right img {
    width: 100%;
  }.poster-wrap {
  height: calc(var(--vh, 1vh) * 100);
}
.banner-header h2 {
    font-family: "Satoshi", sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
}
.banner-section {
    width: 100%;
    background: #f4f4f4;
    padding: 3rem 1rem;
    box-sizing: border-box;
}
.banner-img-wrap {
    width: 100%;
    display: block;
}
.banner-num {
    font-size: 1rem;
    font-weight: 700;
    border-bottom: 2px solid #3d4a8a;
    padding-bottom: 0.2rem;
    color: #3d4a8a;
}
.banner-desc {
    width: 100%;
    text-align: left;
    margin-top: 1rem;
}
.banner-desc h4 {
    width: 100%;

}
.banner-desc p {
    width: 100%;

}
#banner-brand {
    font-size: 2rem;

}
.sub {

    margin-top: 0;
}
.project h3 {
    font-family: "Satoshi", sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.1;
    padding: 0 3rem;
}
.project-sticky-menu a {
    display: block;
    background-color: #191917;
    color: #fff;
    padding: 0.7rem 1.4rem;
    text-decoration: none;
}
.project-sticky-menu a {
    font-size: 0.7rem;
}
 .project-sticky-menu{
  display: flex;
  gap: 1rem;
  position: sticky;
  left: 0;
  top: 1rem;
  list-style: none;
  padding: 0 1rem;
  margin-bottom: 3rem;
 }
 .project-sticky-menu a{
  display: block;
  background-color: #000000cb;
  backdrop-filter: blur(10px);
  color: #fff;
  padding: .3rem 1rem;
  text-decoration: none;
  font-size: 0.8rem;
  
 }
 .project h3 {
    font-family: "Satoshi", sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.1;
    padding: 0 1rem;
}
.project p {
    padding: 0 1rem;
}
.sub-grid {
  display: grid;
  grid-template-columns: 1fr;
    gap: 2rem;
}
.sub-projects{
  padding: 3rem 1rem;
}
 .ty-inner h1 {
    font-size: 2.5rem;
  }
  .ty-sub {
    font-size: 0.8rem;
  }
  .about {
    padding: 6rem 1rem !important;
}
}


@media (max-width: 400px) {
.about-inner {
    padding: 0; 
    box-sizing: border-box;
  }

  .about-photo img {
    width: 100%;
    height: auto;
  }
  .about-text p {
    word-break: keep-all;
    overflow-wrap: break-word;

  }
  .about-title {
    position: absolute;
    font-size: 5rem;
    top: -4%;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
  }

  .about-text {

    margin: 2rem auto 0;
    text-align: center;
  }
  .skills-header {
    flex-direction: column;    
    align-items: flex-start;   
  }

  .skills-title {
    font-size: 1.9rem !important;       
    line-height: 1.2 !important;         
    word-break: keep-all;   
  }

  .skills-sub {
    font-size: 0.9rem;
    margin-top: 0.2rem;
  }
  .swiper-slide {
    width: 70vw !important;   
    max-width: 260px;            
    min-width: 180px;            
  }

  .popup-prev,
  .popup-next {
    width: 26px;
    height: 26px;
  }

  .popup-prev::after,
  .popup-next::after {
    font-size: 10px;
  }
    .popup-section::before {
  content: "POPUPS";
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7rem;
}
}