@media (max-width:1300px){
  .about-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 500px;
}



.num {
  font-family: "Satoshi", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: #ffffff;
}

.date {
  font-family: "Satoshi", sans-serif;
  font-size: 0.7rem;
  color: #aaaaaa;
}


.org {
  font-size: 0.7rem;
  color: #bcbcbc;
}
.titles{
  font-family: "Pretendard", sans-serif;
  font-size: 0.7rem;
}
.popup-section::before {
  content: "POPUPS";
  position: absolute;
  top: 80%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-size: 12rem;

}
}